#infection-area {
    background-color: #c7dfe3;

    width: 100%;
    min-height: 100%;
    cursor: url("../../assets/cursor/soap.cur"), default;
}

.to-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    cursor: pointer;
}

img {
    height: 100px;
    width: 100px;

    position: absolute;
}